*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}
img{
	width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	list-style: none;
}
a:hover{
	text-decoration: none;
	list-style: none;
}
.header{
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: black;
}
.header .navbar-expand-lg .navbar-nav .nav-link{
	text-align: right;
	color: white;
	font-size: 26px;
	font-weight: 600;
	text-transform: capitalize;
	margin: 0px 0px 0px 10px;
}
.header .icon{
	padding: 35px 0px;
		margin: 0px 0px 0px 180px;
}
.header .icon .fa{
	color: white;
	font-size: 25px;

}
.header-banner{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/Image.png") center top no-repeat;
	background-size: cover;
}

.header-banner .title h1{
	letter-spacing: 15px;
	font-size: 42px;
	font-weight: bold;
	color: white;
	padding: 10px 0px;
	line-height: 1.2em;
	text-transform: uppercase;
}
.header-banner .title p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: white;
	padding: 10px 0px;
	line-height: 1.2em;
	text-transform: capitalize;
}
.banner-btn .btn-info{
	padding: 10px;
	text-transform: uppercase;
	background: black;
	color: white;
	line-height: 1.2em;
	font-size: 20px;
	letter-spacing: 2px;
	transition: 1s;
	border: 1px solid transparent;
	border-radius: 1px;
}
.banner-btn .btn-info:hover{
	background: transparent;
	color: red;
}/*
/*header end*/

/*dance-tour start*/
.dance-tour{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/Background.png") center top no-repeat;
	background-size: cover;
}
.dance-tour .title{
	text-align: center;
	padding: 20px 0px;
}
.dance-tour .title h1{
	letter-spacing: 15px;
	font-size: 42px;
	font-weight: bold;
	color: black;
	padding: 10px 0px;
	line-height: 1.2em;
	text-transform: uppercase;
}
.dance-tour .title p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: black;
	padding: 10px 0px;
	line-height: 1.2em;
	text-transform: capitalize;
}
.dance-tour .dance-tour-img{
	width: 100%;
	padding: 10px 0px;
	margin: 10px 0px 0px 100px;
}
.card-body{
	background: black;
}
.card-body h5{
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
}
.card-body p{
  text-transform: capitalize;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
/*dance tour end*/

/*pricing start*/
.pricing{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/pricingbg.png") center top no-repeat;
	background-size: cover;
}
.pricing .title{
	text-align: center;
	padding: 20px 0px;
}
.pricing .title h1{
	letter-spacing: 15px;
	font-size: 42px;
	font-weight: bold;
	color: white;
	padding: 10px 0px;
	line-height: 1.2em;
	text-transform: uppercase;
}
.pricing .title p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: white;
	padding: 10px 0px;
	line-height: 1.2em;
	text-transform: capitalize;
}
.pricing-card{
	width: 100%;
	padding: 10px 0px;
	margin: 10px 0px 0px 100px;
}
.card-body{
	background: black;
}
.card-body h5{
	padding: 10px 0px;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
}
.card-body p{
	padding: 10px 0px;
  text-transform: capitalize;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.card-btn{
	text-align: center;
}
.card-btn .btn-info{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 80px;
    border: 1px solid transparent;
    border-radius: 1px;
    color: white;
    background: red;
    transition: 1s;
}
.card-btn .btn-info:hover{
	background: white;
	color: black;
}
/*pricing end*/

/*amazing-best-dance start*/
.group-3{
width: 100%;
padding: 80px 0px;
}
.group-3 .title{
	text-align: center;
	padding: 465px 0px 50px;
	background: url("../images/amabg22.png") center top no-repeat;
    background-size: cover;
    margin-left: -23px;
	
}
.group-3 .title h1{
	text-transform: uppercase;
	font-size: 60px;
	font-weight: bold;
	line-height: 1.2em;
	padding: 23px;
}
.group-3 .title p{
	font-size: 16px;
	line-height: 1.7em;
	color: black;
	font-weight: 400;
	padding: 23px;

}
.group-3 .title .btn-danger{
	padding: 15px 80px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	background: red;
	border: 2px solid white;
	border-radius: 5px;
	transition: 1s;
	margin: 0px 0px 0px 23px;
}

.group-3 .title .btn-danger:hover{
	background: transparent;
	color: black;
}

/*group-3 css end*/

/*group 4 css start*/
.group-4{
	width: 100%;
	margin-top: -85px;  
}
.group-4 .title{
	padding: 500px 0px 50px;
	background: url("../images/amabg22.png") center top no-repeat;
	background-size: cover;

    /* font-size: 16px;
	line-height: 1.7em;
	color: black;
	font-weight: 400;
	padding: 23px;
   */
}
.group-4 .title h1{
	text-transform: uppercase;
	font-size: 60px;
	font-weight: bold;
	line-height: 1.2em;
	text-align: center;
	padding: 23px;
}
.group-4 .title p{
	font-size: 16px;
	line-height: 1.7em;
	color: black;
	font-weight: 400;
	padding: 23px;
	text-align: center;

}
.btn-dance{
	text-align: center;
}
.group-4 .title .btn-danger{

	padding: 15px 80px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	background: red;
	border: 2px solid white;
	border-radius: 5px;
	transition: 1s;
	margin: 0px 0px 0px 23px;
}

.group-4 .title .btn-danger:hover{
	background: transparent;
	color: black;
}
.inner-grp4-img{
	margin-left: -23px; 
}
/*group 4 css end*/

/*amazing dance end*/

/*statics start*/
.statics{
	width: 100%;
	padding: 150px 0px;
	background: url("../images/pricingbg.png") center top no-repeat;
	background-size: cover;
}
.statics-title{
	text-align: center;
	padding: 20px 0px;
}
.statics-title h1{
	padding: 10px 0px;
	letter-spacing: 15px;
	font-size: 42px;
	font-weight: bold;
	color: white;
	padding: 10px 0px;
	line-height: 1.2em;
	te.xt-transform: uppercase;
}
.statics-title p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: white;
	padding: 10px 0px;
	line-height: 1.2em;
	text-transform: capitalize;
}
.statics-title-2{
	text-transform: uppercase;
	color: white;
	padding: 40px 0px;
	text-align: center;
	font-weight: bold;
}

/*statics end*/

/*hertbiiit start*/
.hertbiiit{
	width: 100%;
	padding: 500px 0px;
	background: url("../images/Imageafwe.png") center top no-repeat;
	background-size: cover;
}
.hertbiiit .hert-title{
	text-align: center;
}
.hertbiiit .hert-title p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: white;
	padding: 10px 0px;
	line-height: 1.2em;
	text-transform: capitalize;
}
.hertbiiit .hert-title h1{
	padding: 10px 0px;
	letter-spacing: 15px;
	font-size: 50px;
	font-weight: bold;
	color: white;
	padding: 10px 0px;
	line-height: 1.2em;
	te.xt-transform: uppercase;
}
/*herbiiit end*/

/*subscribe start*/
.subscribe{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/subsbg.png") center top  no-repeat;
	background-size: cover;
}
.subs-title{
	text-align: center;
	padding: 20px 0px;
}
.subs-title p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: white;
	padding: 10px 0px;
	line-height: 1.2em;
	text-transform: capitalize;
}
.subs-title h1{
	padding: 10px 0px;
	letter-spacing: 15px;
	font-size: 50px;
	font-weight: bold;
	color: white;
	padding: 10px 0px;
	line-height: 1.2em;
	te.xt-transform: uppercase;
}
.subs-title .btn-success{
	font-size: 20px;
	text-transform: uppercase;
	color: black;
	background: transparent;
	letter-spacing: 2px;
	transition: 1s;
}
form{
	text-align: center;
	padding: 20px 0px;
}
/*subscribe ennd*/

/*footer start*/

.footer{
	width: 100%;
	padding: 80px 0px;
	background: black;
}

.footer .logo-footer h5{
	margin: 15px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.2em;
	font-size: 30px;
	
}
.footer .text-footer{
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	color: white;
	line-height: 1.2em;
	margin-right: 50px;
}
.icon-footer .fa{
	color: white;
	font-size: 34px;
	letter-spacing: 8px;
	margin-left: 20px;
	border-radius: 100%;
	margin-top: 10px;

}
.list-menu{
	list-style: none;
}

.footer .list-menu  li a{
    color: red;
    text-decoration: none;
    list-style: none;
}
.footer-bottom{
	width: 100%;
	padding: 40px 0px;
	text-align: center;
}
.copyrights{
	color: white;
}
p a{
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: none;
}
/*footer end*/